#carousel {
		width: 380px;
		overflow:hidden;
	}

	#carousel ul {
		width: 320px;
		padding: 0;
		margin: 0;
	}

	#carousel ul li {
		width: 380px;
		text-align: center;
		height: 178px;
		list-style: none;
		float:	left;
	}